<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}">Create Event</h1>


<form method="post" action="/events/create">
    <div class="row">
        <div class="form-group col-md-4">
            <label >Name</label>
            <input th:field="${event.name}" class="form-control" th:errorclass="is-invalid"/>
            <small class="invalid-feedback" th:errors="${event.name}"></small>
        </div>
        <div class="form-group col-md-4">
            <label>Contact Email</label>
            <input th:field="${event.contactEmail}" class="form-control" th:errorclass="is-invalid"/>
            <small class="invalid-feedback" th:errors="${event.contactEmail}"></small>
        </div>
        <div class="form-group col-md-4">
            <label>Type</label>
            <select th:field="${event.type}" class="form-control" th:errorclass="is-invalid">
                <option th:each="type : ${types}"
                        th:value="${type}"
                        th:text="${type.displayName}">
                </option>
            </select>
            <small class="invalid-feedback" th:errors="${event.type}"></small>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label>Description </label>
            <textarea th:field="${event.description}" class="form-control" th:errorclass="is-invalid"/>
            <small class="invalid-feedback" th:errors="${event.description}"></small>
        </div>
    </div>
    <button type="submit" class="btn btn-success my-1">Create Event</button>

</form>

</body>
</html>