<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}">All Events</h1>
<p th:unless="${events} and ${events.size()}">No events!</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Location
        </th>
        <th>
            Edit
        </th>
    </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event.getId()}">Event ID</td>
        <td th:text="${event.getName()}">Event Name</td>
        <td th:text="${event.getDescription()}">Event Description</td>
        <td th:replace="fragments :: address">Event Location</td>
        <td>
            <a class="btn btn-info"  th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a>
        </td>
    </tr>
</table>
</body>
</html>