<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}">All Events</h1>
<p th:unless="${events} and ${events.size()}">No events!</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Event Category
        </th>
        <th>
            Contact Email
        </th>
        <th>
            Location
        </th>
        <th>
            Show Description
        </th>
        <th>
            Edit
        </th>
    </tr>
    </thead>
    <th:block th:each="event : ${events}">
        <tr>
            <td th:text="${event.getId()}">Event ID</td>
            <td th:text="${event.getName()}">Event Name</td>
            <td th:text="${event.getCategory().getName()}">Event Type</td>
            <td th:text="${event.details.getContactEmail()}">Event Contact Email</td>
            <td th:replace="fragments :: address">Event Location</td>
            <td>
                <a class = "btn btn-primary accordion-toggle" data-bs-toggle="collapse" th:href="'#description-' + ${event.getId()}" role="button" aria-expanded="false" th:aria-controls="'collapse-description-'+${event.getId()}">
                    Description
                </a>
            </td>
            <td>
                <a class="btn btn-info"  th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a>
            </td>
        </tr>
        <tr >
            <td colspan="100">
                <div th:text="${event.details.getDescription()}" class="collapse accordion-body" th:id="'description-' + ${event.getId()}">
                    Event Description
                </div>

            </td>
        </tr>
    </th:block>
</table>
</body>
</html>