<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Coding Events</title>

    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <link th:href="@{/styles.css}" rel="stylesheet" />
    <script th:src="@{/script.js}"></script>

</head>
<body>

<nav th:fragment="navigation">
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/events">All events</a></li>
        <li class="nav-item"><a class="nav-link" href="/events/create">Create event</a></li>
        <li class="nav-item"><a class="nav-link" href="/events/delete">Delete events</a></li>
        <li class="nav-item"><a class="nav-link" href="/eventCategories/create">Create category</a></li>
        <li class="nav-item"><a class="nav-link" href="/eventCategories">Event categories</a></li>
    </ul>
</nav>

<td th:fragment="address">1337 N 3RD Street</td>


</body>
</html>